.col-12 h2{
    font-size: 230%;
    color: #333366;
    
}
.num_text h4{
    margin:auto;
}

.order{
    background-color: white;
    padding:10px;
    border-radius: 10px;
}
.container-fluid{
    width: 75%;
    padding-top: 60px;
}
body{
    background-color:#DDD6D6  ;
}
.first_form{
    padding-top: 20px;
    padding-left:30px;
}
.round {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border: 2px solid gray;
    border-radius: 50%;
    line-height: 23px;
    font-size: 120%;
    font-weight: 700;
    
    color:white;  /* подробнее про line-height */
    text-align: center;  /* выравнять текст по середине по горизонтали */
    background: gray;
  }
  .num_text{
    display: flex;
    flex-direction: row;
}
.form-group{
   padding: 5px;
    margin: auto;
}
.selectpicker{
  margin-top: 20px;
  width: 83%;
  margin-left: 90px;

}
.btn{
   
    font-size: 110%;
    font-weight: 600;
    margin-top:20px;
}
.invis_text {
    margin-right: 45%;
    margin-left:20px;
    color:grey;
  }